body{
  background-color: #F3F3F3;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #4E2817;
  padding: 5px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Todo-App{
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}

input {
  padding: 10px;
  font-size: 20px;
}

ul {
  padding: 10px;
  background: #FFF;
}

li {
  font-size: 20px;
  padding: 5px;
  list-style-type: none;
}

.errorMessage{
  color: red;
  font-size: 12px;
  font-weight: bold;
}
